@using CharterERP.Backend.Domain.Entities
@model IEnumerable<Dealer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>

    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.StreetAddress)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.PostalCode)</th>
            <th></th>
        </tr>

        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.StreetAddress</td>
                <td>@d.City</td>
                <td>@d.State</td>
                <td>@d.PostalCode</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = d.DealerID }) |
                    @Html.ActionLink("Details", "Details", new { id = d.DealerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = d.DealerID })
                </td>
            </tr>
        }


    </table>


</body>
</html>
