@using CharterERP.Backend.WebUI.Models;
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <label>First name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        
        <label>Last name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class ="form-control"})
        
        <label>Enter Username(Email Address)</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })

        <label>Enter Password</label>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })


        <button class="btn btn-primary">Register</button>
    }
</div>




